/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

/* bg */
.bg {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 500px;
  z-index: -10;
  -webkit-animation: upDown 14s infinite;
          animation: upDown 14s infinite;
}
.bg__img {
  position: absolute;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transform-origin: center;
          transform-origin: center;
}
.bg__img:nth-of-type(1) {
  top: 14%;
  left: 10%;
  -webkit-animation-name: rotation-right;
          animation-name: rotation-right;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  fill: #fffaf0;
}
.bg__img:nth-of-type(2) {
  top: 38%;
  left: 90%;
  fill: #d6f0ff;
}
.bg__img:nth-of-type(3) {
  top: 66%;
  left: 40%;
  -webkit-animation-name: rotation-left;
          animation-name: rotation-left;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  fill: #deffef;
}
.bg__img:nth-of-type(4) {
  top: 28%;
  left: 58%;
  -webkit-animation-name: rotation-left;
          animation-name: rotation-left;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  fill: #dcd6ff;
}
.bg__img:nth-of-type(5) {
  top: 52%;
  left: 6%;
  fill: #ffdede;
}
.bg__img:nth-of-type(6) {
  top: 86%;
  left: 67%;
  -webkit-animation-name: rotation-right;
          animation-name: rotation-right;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  fill: #ffeded;
}
.bg__img:nth-of-type(7) {
  top: 90%;
  left: 30%;
  -webkit-animation-name: rotation-left;
          animation-name: rotation-left;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  fill: #dcd6ff;
}
.bg__img:nth-of-type(8) {
  top: 5%;
  left: 78%;
  -webkit-animation-name: rotation-left;
          animation-name: rotation-left;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  fill: #ffdede;
}

@-webkit-keyframes upDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes upDown {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes rotation-right {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotation-right {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes rotation-left {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes rotation-left {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
.lower__bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.58);
}

/* body */
body {
  font-family: "Ubuntu", "Noto Sans JP", sans-serif;
  color: #707070;
  font-size: 16px;
}
body.js-open {
  overflow: hidden;
}

/* section */
.section__ttl {
  font-size: 40px;
  text-align: center;
  color: #82aac4;
}

.section__inner {
  padding-top: 120px;
}

/* fade up */
.js-fade {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 1s;
  transition: all 1s;
}

/* button */
.btn {
  padding-left: 40px;
  display: block;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #333;
  width: 240px;
  height: 60px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  line-height: 60px;
  border-radius: 14px;
  border: 1px solid #82aac4;
  -webkit-box-shadow: 6px 6px 10px #82aac4;
          box-shadow: 6px 6px 10px #82aac4;
  position: relative;
}
.btn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 14px;
  background-color: #82aac4;
  z-index: -1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn:hover::before {
  width: 100%;
}
.btn::after {
  position: absolute;
  top: 6px;
  right: 40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}
.header.is-scrolled {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
.header__inner {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  vertical-align: middle;
  height: 60px;
}
@media screen and (min-width: 1000px) {
  .header__inner {
    max-width: 900px;
  }
}
.header__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.header__nav-pc {
  display: none;
}
.header__list-pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__item-pc {
  margin: 0 32px;
  position: relative;
}
.header__item-pc::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 10%;
  width: 0;
  height: 2px;
  background-color: #82aac4;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__item-pc:hover::after {
  width: 80%;
}
.header__item-pc__link {
  text-decoration: none;
  color: #82aac4;
  display: block;
}
.header__hamburgerMenu {
  position: relative;
  width: 34px;
  height: 16px;
}
.header__hamburgerMenuBar {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #82aac4;
  border-radius: 1px;
  position: absolute;
  left: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__hamburgerMenuBar:nth-child(1) {
  top: 0;
}
.header__hamburgerMenuBar:nth-child(2) {
  top: 7px;
}
.header__hamburgerMenuBar:nth-child(3) {
  top: 14px;
}
.header__hamburgerMenu:hover .header__hamburgerMenuBar:nth-child(2) {
  left: 10px;
}
.header .js-open .header__hamburgerMenuBar {
  background-color: #fff;
}
.header .js-open .header__hamburgerMenuBar:nth-child(1) {
  top: 7px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header .js-open .header__hamburgerMenuBar:nth-child(2) {
  left: 30px;
  opacity: 0;
}
.header .js-open .header__hamburgerMenuBar:nth-child(3) {
  top: 7px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header__nav-sp {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #82aac4;
  display: none;
}
.header__list-sp {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header__item-sp {
  font-weight: bold;
  position: relative;
  text-align: center;
}
.header__item-sp + .header__item-sp {
  margin-top: 40px;
}
.header__item-sp__link {
  color: #fff;
  text-decoration: none;
  position: relative;
}
.header__item-sp__link::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 10%;
  width: 0;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header__item-sp__link:hover::after {
  width: 80%;
}
@media screen and (min-width: 600px) {
  .header__nav-sp {
    display: none;
  }
  .header__hamburgerMenu {
    display: none;
  }
  .header__nav-pc {
    display: block;
  }
}

.footer {
  background-color: #82aac4;
  margin-top: 120px;
  padding: 40px 0;
  text-align: center;
  position: relative;
  z-index: 90;
}
.footer__text {
  color: #fff;
  font-size: 12px;
}

/* loading */
.loading {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #82aac4;
  z-index: 999;
  display: none;
}
.loading.visible {
  display: block;
}
.loading__circle {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 112px;
  height: 112px;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  overflow: hidden;
}
.loading__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  border-radius: 50%;
  z-index: 1000;
  width: 112px;
  -webkit-animation: peek 0.4s linear forwards;
          animation: peek 0.4s linear forwards;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.loading__spin {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  z-index: 1001;
  width: 102px;
  height: 102px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.1);
  border-top-color: #fff;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-animation: spin 1s linear 1.3s infinite;
          animation: spin 1s linear 1.3s infinite;
}

@-webkit-keyframes peek {
  from {
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes peek {
  from {
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
@-webkit-keyframes spin {
  from {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes spin {
  from {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* first view */
.fv {
  height: 100vh;
  width: 100%;
}
.fv__copy {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 320px;
  max-width: 90%;
  color: #82aac4;
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}
.fv__copy span {
  display: block;
  -webkit-transform: translate(0, 105%);
          transform: translate(0, 105%);
  -webkit-transition: -webkit-transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: -webkit-transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s, -webkit-transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
.fv__copy span:nth-child(1) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.fv__copy span:nth-child(2) {
  -webkit-transition-delay: 1.06s;
          transition-delay: 1.06s;
}
.fv__copy span:nth-child(3) {
  -webkit-transition-delay: 1.12s;
          transition-delay: 1.12s;
}
.fv__copy span:nth-child(4) {
  -webkit-transition-delay: 1.18s;
          transition-delay: 1.18s;
}
.fv__copy span:nth-child(5) {
  -webkit-transition-delay: 1.24s;
          transition-delay: 1.24s;
}
.fv__copy span:nth-child(6) {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}
.fv__copy span:nth-child(7) {
  -webkit-transition-delay: 1.36s;
          transition-delay: 1.36s;
}
.fv__copy span:nth-child(8) {
  -webkit-transition-delay: 1.42s;
          transition-delay: 1.42s;
}
.fv__copy span:nth-child(9) {
  -webkit-transition-delay: 1.48s;
          transition-delay: 1.48s;
}
.fv__copy span:nth-child(10) {
  -webkit-transition-delay: 1.54s;
          transition-delay: 1.54s;
}
.fv__copy span:nth-child(11) {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}
.fv__copy span:nth-child(12) {
  -webkit-transition-delay: 1.66s;
          transition-delay: 1.66s;
}
.fv__copy span:nth-child(13) {
  -webkit-transition-delay: 1.72s;
          transition-delay: 1.72s;
}
.fv__copy.visible span {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.fv__scroll {
  color: #82aac4;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -30px);
          transform: translate(-50%, -30px);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  opacity: 0;
}
.fv__scroll.visible {
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 1;
}
.fv__scroll::before {
  content: url(../img/fv__arrow.svg);
  position: absolute;
  top: 0;
  left: -30px;
  width: 16px;
  height: 16px;
  -webkit-animation: 2.8s linear 2s infinite arrowMove;
          animation: 2.8s linear 2s infinite arrowMove;
}

@-webkit-keyframes arrowMove {
  0% {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
    opacity: 30%;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 100%;
  }
  80% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 30%;
  }
}

@keyframes arrowMove {
  0% {
    -webkit-transform: translate(0, -10px);
            transform: translate(0, -10px);
    opacity: 30%;
  }
  10% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 100%;
  }
  80% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 100%;
  }
  100% {
    -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
    opacity: 30%;
  }
}
@media screen and (min-width: 600px) {
  .fv__copy {
    font-size: 40px;
    width: 334px;
  }
}
/* main */
.main {
  width: 90%;
  margin: 0 auto;
  position: relative;
  z-index: 90;
}

@media screen and (min-width: 1000px) {
  .main {
    max-width: 900px;
  }
}
/* vision */
.vision {
  min-height: 100vh;
}
.vision__inner {
  height: 100%;
}
.vision__copy {
  margin-top: 64px;
  font-size: 28px;
  line-height: 1.8;
}
.vision__spiralStaircase {
  margin-top: 64px;
  text-align: center;
  width: 100%;
  height: calc(100vh - 420px);
  min-height: 400px;
  position: relative;
}
.vision__img {
  max-width: 100%;
  height: 100%;
}
.vision__texts {
  position: absolute;
  top: 0;
  left: 2%;
  width: 96%;
  height: 100%;
}
.vision__text {
  position: absolute;
  width: 100px;
  border: 1px solid #82aac4;
  background-color: rgba(255, 255, 255, 0.58);
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  padding: 8px;
}
.vision__text:nth-of-type(even) {
  right: 0;
}
.vision__text:nth-of-type(2) {
  top: 10%;
}
.vision__text:nth-of-type(3) {
  top: 40%;
}
.vision__text:nth-of-type(4) {
  top: 45%;
}
.vision__text:nth-of-type(5) {
  top: 70%;
}
.vision__text:nth-of-type(6) {
  bottom: 10px;
}

@media screen and (min-width: 600px) {
  .vision__copy {
    max-width: 600px;
    margin: 96px auto 0;
  }
  .vision__spiralStaircase {
    width: 90%;
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 1000px) {
  .vision__copy {
    width: 100%;
    max-width: none;
    text-align: center;
  }
}
/* vision copy underline */
.js-underline {
  background: -webkit-gradient(linear, left top, left bottom, from(#ffff7f), to(#ffff7f)) 0 100%/0 40% no-repeat;
  background: linear-gradient(#ffff7f, #ffff7f) 0 100%/0 40% no-repeat;
  -webkit-transition: background 1.2s;
  transition: background 1.2s;
  -webkit-transition-delay: 3.5s;
          transition-delay: 3.5s;
}
.js-underline.is-active {
  background-size: 100% 40%;
}

/* vision slide in */
.js-slide {
  opacity: 0;
  -webkit-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}
.js-slide:nth-of-type(1) {
  -webkit-transition-delay: 3s;
          transition-delay: 3s;
}
.js-slide:nth-of-type(2) {
  -webkit-transition-delay: 2.5s;
          transition-delay: 2.5s;
}
.js-slide:nth-of-type(3) {
  -webkit-transition-delay: 2s;
          transition-delay: 2s;
}
.js-slide:nth-of-type(4) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
.js-slide:nth-of-type(5) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.js-slide:nth-of-type(6) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.js-slide-left {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}
.js-slide-right {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}
.js-slide.is-active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

/* works */
.works__look {
  line-height: 1.8;
  margin-top: 64px;
}
.works__list {
  list-style: none;
  margin-top: 40px;
}
.works__content {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 24px;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 0.5);
          box-shadow: 0px 0px 8px 0px rgba(169, 169, 169, 0.5);
}
.works__content:not(:first-child) {
  margin-top: 64px;
}
.works__link {
  color: inherit;
  text-decoration: none;
}
.works__link:hover .works__img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.works__link:hover .works__ttl {
  text-decoration: underline;
}
.works__frame {
  width: 100%;
  overflow: hidden;
  border: 4px ridge #82aac4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.works__img {
  width: 100%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.works__ttl {
  margin-top: 16px;
  font-size: 24px;
}
.works__texts {
  margin-top: 16px;
  font-size: 14px;
}
.works__text + .works__text {
  margin-top: 8px;
}

@media screen and (min-width: 600px) {
  .works__look {
    max-width: 600px;
    margin: 96px auto 0;
  }
  .works__list {
    max-width: 600px;
    margin: 40px auto 0;
  }
}
@media screen and (min-width: 1000px) {
  .works__look {
    max-width: none;
  }
  .works__list {
    max-width: none;
  }
  .works__frame {
    width: 48%;
  }
  .works__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works__description {
    width: 40%;
  }
  .works__ttl {
    margin: 0;
  }
  .works__texts {
    margin-top: 32px;
  }
  .works__text {
    margin-top: 16px;
  }
}
/* skills */
.skills__cover {
  margin-top: 64px;
  list-style: none;
}
.skills__content {
  text-align: center;
}
.skills__content:nth-of-type(n + 2) {
  margin-top: 40px;
}
.skills__ttl {
  display: inline-block;
  font-size: 24px;
  position: relative;
}
.skills__ttl::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 10%;
  right: 10%;
  height: 2px;
  background-color: #82aac4;
}
.skills__text {
  margin-top: 32px;
  line-height: 1.8;
  text-align: left;
}

@media screen and (min-width: 600px) {
  .skills {
    max-width: 600px;
    margin: auto;
  }
  .skills__cover {
    margin-top: 96px;
  }
  .skills__text {
    text-align: center;
  }
}
@media screen and (min-width: 1000px) {
  .skills {
    max-width: none;
  }
  .skills__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills__ttl {
    display: block;
    width: 220px;
    text-align: left;
    margin-left: 10px;
  }
  .skills__ttl::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: -10px;
    right: auto;
    width: 2px;
    height: auto;
  }
  .skills__text {
    width: 600px;
    text-align: left;
    margin-top: 0;
  }
}
/* about */
.about__me, .about__studying {
  margin-top: 64px;
}
.about__ttl {
  font-size: 32px;
  margin-left: -3%;
  color: #82aac4;
}

.me__content {
  margin-top: 32px;
}
.me__container {
  width: 100%;
}
.me__img {
  width: 100%;
  -webkit-box-shadow: 16px 16px #82aac4;
          box-shadow: 16px 16px #82aac4;
}
.me__name {
  font-size: 22px;
  margin-top: calc(32px + 16px);
}
.me__favorite {
  margin: 16px 0 0 34px;
  position: relative;
}
.me__favorite:nth-of-type(2) {
  margin-top: 24px;
}
.me__favorite::before {
  position: absolute;
  content: "";
  top: 1px;
  left: -18px;
  display: inline-block;
  width: 14px;
  height: 12px;
  background-image: url(../img/about-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

@media screen and (min-width: 600px) {
  .about__me,
.about__studying {
    max-width: 600px;
    margin: 96px auto 0;
  }
}
@media screen and (min-width: 1000px) {
  .about__me,
.about__studying {
    max-width: none;
  }

  .me__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .me__container {
    width: 500px;
  }
  .me__text {
    margin: auto;
  }
}
.studying__content {
  position: relative;
  border: 1px solid #82aac4;
  background-color: rgba(255, 255, 255, 0.58);
  padding: 16px;
}
.studying__content:first-of-type {
  margin-top: 32px;
}
.studying__content:not(:first-of-type) {
  margin-top: 50px;
}
.studying__content:not(:last-child)::before {
  position: absolute;
  content: "";
  left: 24px;
  bottom: -36px;
  display: inline-block;
  width: 24px;
  height: 18px;
  background-image: url(../img/about-arrow.svg);
  background-size: contain;
}
.studying__ttl {
  display: inline-block;
  font-size: 20px;
}
.studying__time {
  display: inline-block;
  font-size: 12px;
  margin-left: 16px;
}
.studying__text {
  line-height: 1.8;
  margin: 16px 0 0 16px;
}

.lower__works__inner {
  margin-top: 120px;
}
.lower__works__ttl__link {
  color: inherit;
}
.lower__works__name, .lower__works__explanation {
  margin-top: 24px;
  line-height: 1.6;
}
.lower__works__name {
  font-size: 32px;
  color: #82aac4;
}
.lower__works__img {
  -webkit-box-shadow: 0px 0px 10px -4px #777777;
          box-shadow: 0px 0px 10px -4px #777777;
}
.lower__works__img-fv {
  margin-top: 64px;
  width: 100%;
}
.lower__works__buttons {
  margin: 64px auto 0;
}
.lower__works__btn:first-child {
  margin: 0 auto;
}
.lower__works__btn:not(:first-child) {
  margin: 32px auto 0;
}
.lower__works__toCode::after {
  content: url(../img/works__btn-arrow1.svg);
}
.lower__works__toSite::after {
  content: url(../img/works__btn-arrow2.svg);
}
.lower__works__passwords {
  margin: 24px auto 0;
  max-width: 240px;
  text-align: center;
}
.lower__works__password {
  font-size: 12px;
  line-height: 1.4;
}
.lower__works__list {
  list-style: none;
}
.lower__works__content {
  margin-top: 64px;
}
.lower__works__point {
  font-size: 24px;
  color: #82aac4;
}
.lower__works__subcontent {
  list-style: none;
}
.lower__works__texts:first-of-type {
  margin-top: 32px;
}
.lower__works__texts + .lower__works__texts {
  margin-top: 64px;
}
.lower__works__subheading {
  font-size: 18px;
  color: #82aac4;
}
.lower__works__sentence, .lower__works__img {
  margin-top: 16px;
}
.lower__works__sentence {
  line-height: 1.8;
}
.lower__works__img-err {
  margin-right: auto;
  width: 360px;
  max-width: 100%;
}
.lower__works__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.lower__works__img-policy {
  width: 48%;
}
@media screen and (min-width: 600px) {
  .lower__works__img-fv, .lower__works__content {
    margin-top: 96px;
  }
  .lower__works__buttons-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 600px;
  }
  .lower__works__buttons-flex > .lower__works__btn:first-child, .lower__works__buttons-flex > .lower__works__btn:not(:first-child) {
    margin: 0;
  }
  .lower__works__passwords {
    max-width: 600px;
  }
  .lower__works__password {
    margin-left: auto;
    max-width: 240px;
  }
}

/**********************************
reset
***********************************/
/**********************************
layout
***********************************/
/**********************************
sub page
***********************************/
/*# sourceMappingURL=style.css.map */